<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Vista de la Sucursal con id {{id}}</h1>
      <app-sucursal-detail-admin-unrouted [id]="id"></app-sucursal-detail-admin-unrouted>
      <div class="d-flex justify-content-center">
        <app-sucursal-backButton-unrouted></app-sucursal-backButton-unrouted>
        <button class="btn btn-warning" [routerLink]="['/admin/sucursal/edit',id]">Editar</button>
      </div>
      <button class="btn btn-primary" (click)="oLocation.back()">Atrás</button>
    </div>
  </div>
</div>