<table class="table table-bordered table-striped table-sm">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{oCompra.id}}</td>
    </tr>
    <tr>
      <td>Fecha</td>
      <td>{{oCompra.fecha}}</td>
    </tr>
    <tr>
      <td>Precio</td>
      <td>{{oCompra.precio}}</td>
    </tr>
    <tr>
      <td>ID Usuario</td>
      <td>{{oCompra.usuario.id}}, {{oCompra.usuario.nombre}}  {{oCompra.usuario.apellidos}}</td>
    </tr>
    <tr>
      <td>ID Coche</td>
      <td>{{oCompra.coche.id}}, {{oCompra.coche.marca}} {{oCompra.coche.modelo}}</td>
    </tr>
    <tr>
      <td>ID Sucursal</td>
      <td>{{oCompra.sucursal.id}}, {{oCompra.sucursal.nombre}}</td>
    </tr>
    
  </tbody>
</table>