<table class="table table-bordered table-striped table-sm">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{oCoche.id}}</td>
    </tr>
    <tr>
      <td>Marca</td>
      <td>{{oCoche.marca}}</td>
    </tr>
    <tr>
      <td>Modelo</td>
      <td>{{oCoche.modelo}}</td>
    </tr>
    <tr>
      <td>Año</td>
      <td>{{oCoche.anyo}}</td>
    </tr>
    <tr>
      <td>Kilometros</td>
      <td>{{oCoche.kms}}</td>
    </tr>
    <tr>
      <td>Combustible</td>
      <td>{{oCoche.combustible}}</td>
    </tr>
    <tr>
      <td>Tasaciones</td>
      <td>{{oCoche.tasaciones}}</td>
    </tr>
    <tr>
      <td>Usuario</td>
      <td>{{oCoche.usuario.id}}</td>
    </tr>
  </tbody>
</table>