<table class="table table-bordered table-striped table-sm">
  <tbody>
      <tr>
          <th>Id</th>
          <td>{{oSucursal.id}}</td>
      </tr>
      <tr>
          <td>Nombre</td>
          <td>{{oSucursal.nombre}}</td>
      </tr>
      <tr id="cliente1">
          <td>Localidad</td>
          <td>{{oSucursal.localidad}}</td>
      </tr>
      <tr id="cliente2">
          <td>Calle</td>
          <td>{{oSucursal.calle}}</td>
      </tr>
      <tr id="cliente3">
          <td>Postal</td>
          <td>{{oSucursal.postal}}</td>
      </tr>
      <tr>
        <td>Empleados</td>
        <td>{{oSucursal.usuarios}}</td>
    </tr>
  </tbody>
</table>

