<table class="table table-bordered table-striped table-sm w-50" style="margin: 0 auto;">
  <tbody>
    <tr>
        <th>Id</th>
        <td>{{oUsuario.id}}</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{oUsuario.nombre}}</td>
    </tr>
    <tr>
        <td>Apellidos</td>
        <td>{{oUsuario.apellidos}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{oUsuario.email}}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{oUsuario.username}}</td>
    </tr>
    <tr *ngIf="this.usertype == '1'">
        <td>Tipo Usuario</td>
        <td>{{oUsuario.tipousuario.id}}-{{oUsuario.tipousuario.tipo}}</td>
    </tr>
    <tr id="sucursal" *ngIf="this.usertype == '1'">
        <!-- <td>Sucursal</td>
        <td>{{oUsuario.sucursal.nombre}}</td> -->
    </tr>
    <tr id="coches">
    </tr>
  </tbody>
</table>

