<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Vista de la compra con id {{id}}</h1>
      <app-compra-detail-admin-unrouted [id]="id"></app-compra-detail-admin-unrouted>
      <div class="d-flex justify-content-center">
        <app-compra-bacButton-admin-unrouted></app-compra-bacButton-admin-unrouted>
        <button class="btn btn-warning" [routerLink]="['/admin/compra/edit',id]">Editar</button>
      </div>
      <button class="btn btn-primary" (click)="oLocation.back()">Atrás</button>
    </div>
  </div>
</div>