<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Lista de Coches</h1>
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3">
        <a [routerLink]="['/admin/coche/new']" class="btn btn-primary mx-3">Registrar coche</a>
        <!-- <app-search-unrouted [placeHolder]="'Buscar Coche'" (onSearch)="setFilter( $event )"></app-search-unrouted> -->
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size" (eeRpp)="this.setRpp($event)"></app-dropdown-register-page>

      </div>
      <!-- <div class="col-md text-center">
        <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div> -->
      <!-- <h5 class="text-muted text-end">Total de registros en la consulta {{responseFromServer.totalElements}}</h5> -->
      <!-- <h5 class="text-muted" *ngIf="strTermFilter!=''">Filtrando por {{strTermFilter}} (borrar para resetear)</h5> -->
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>ID</th>
            <!-- <th (click)="setOrder('coche.id')">ID
              <fa-icon *ngIf="sortField=='coche.id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Marca</th>
            <!-- <th (click)="setOrder('coche.marca')">Marca
              <fa-icon *ngIf="sortField=='coche.marca'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.marca'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Modelo</th>
            <!-- <th (click)="setOrder('coche.modelo')">Modelo
              <fa-icon *ngIf="sortField=='coche.modelo'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.modelo'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Año</th>
            <!-- <th (click)="setOrder('coche.anyo')">Año
              <fa-icon *ngIf="sortField=='coche.anyo'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.anyo'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Kilometros</th>
            <!-- <th (click)="setOrder('coche.kms')">Kilometros
              <fa-icon *ngIf="sortField=='coche.kms'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.kms'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Combustible</th>
            <!-- <th (click)="setOrder('coche.combustible')">Combustible
              <fa-icon *ngIf="sortField=='coche.combustible'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='coche.combustible'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th> -->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coche of this.responseFromServer.content">
            <td>{{coche.id}}</td>
            <td>{{coche.marca}}</td>
            <td>{{coche.modelo}}</td>
            <td>{{coche.anyo}}</td>
            <td>{{coche.kms}}</td>
            <td>{{coche.combustible}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-warning" [routerLink]="['/admin/coche/edit',coche.id]">
                  <fa-icon [icon]="faUserPen"></fa-icon>
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin','coche','remove',coche.id]">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="showUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel">Usuario {{id}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-usuario-detail-admin-unrouted [id]="id"></app-usuario-detail-admin-unrouted>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
